.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.trails-main {
    position: relative;
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  
  .trails-text {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
    position: relative;
    width: 80vw;
    text-align: center;
    color: #ff9d1c;
    font-size: 4em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
   
  }
  
  
  @media only screen and (max-width: 600px) {
    .trails-text {
      
      width: 80vw;
      color: #ff9d1c;
      font-size:3em;
      font-weight: 400;
      text-transform: uppercase;
      will-change: transform, opacity;
   
  }
  }